<div class='sub-mainvisual'>
  <h1>このサイトについて</h1>
</div>
<div class='about-text'>
  <section class='about-text-main'>
    <h1 class='title-about'>KOKUBANKとは</h2>
    <p class='text-about-title'>
    黒板(KOKUBAN)＋銀行(BANK)
    </p>
    <p class='text-about'>
    先生方の板書という財産を貯めておきたいという思いから、このサービスを作りました。
    </p>
    <p class='text-about'>
    このサイトは、先生方の日々の板書を共有することで、先生方ひとりひとりの教師としての授業の引き出しを増やし、授業力を向上させることを目的としています。また、業務多忙化の中で授業準備の手助けになればと考えております。
    </p>
  </section>
</div>
<div class='target'>
  <div class='target-img'>
    <%= image_tag 'wakate.png'%>
  </div>
  <div class='target-text'>
    <section>
      <h2 class='title-about'>若手の先生へ</h2>
      <p class='text-about'>このサイトは、先生方の日々の板書を共有することで、先生方ひとりひとりの教師としての授業の引き出しを増やし、授業力を向上させることを目的としています。また、業務多忙化の中で授業準備の手助けになればと考えております。
      </p>
    </section>
  </div>
</div>
<div class='target'>
  <div class='target-text'>
    <section>
      <h2 class='title-about'>中堅の先生へ</h2>
      <p class='text-about'>このサイトは、先生方の日々の板書を共有することで、先生方ひとりひとりの教師としての授業の引き出しを増やし、授業力を向上させることを目的としています。また、業務多忙化の中で授業準備の手助けになればと考えております。
      </p>
    </section>
  </div>
  <div class='target-img'>
    <%= image_tag 'tyuuken.png'%>
  </div>
</div>
<div class='target'>
  <div class='target-img'>
    <%= image_tag 'beteran.png'%>
  </div>
  <div class='target-text'>
    <section>
      <h2 class='title-about'>ベテランの先生へ</h2>
      <p class='text-about'>このサイトは、先生方の日々の板書を共有することで、先生方ひとりひとりの教師としての授業の引き出しを増やし、授業力を向上させることを目的としています。また、業務多忙化の中で授業準備の手助けになればと考えております。
      </p>
    </section>
  </div>  
</div>


