<div class='sub-mainvisual'>
  <h1>このサイトについて</h1>
</div>
<div class='about-text'>
  <section class='about-text-main'>
    <h1 class='title-about'>KOKUBANKとは</h2>
    <p class='text-about-title'>
    黒板(KOKUBAN)＋銀行(BANK)
    </p>
    <p class='text-about-m'>
    先生方の板書という財産を貯めておきたいという思いから、このサービスを作りました。
    </p>
    <p class='text-about'>
    このサイトは、先生方の日々の板書を共有することで、先生方ひとりひとりの教師としての授業の引き出しを増やし、授業力を向上させることを目的としています。また、業務多忙化の中で授業準備の手助けになればと考えております。
    </p>
  </section>
</div>
<div class='target'>
  <div class='target-img'>
    <%= image_tag 'wakate.png'%>
  </div>
  <div class='target-text'>
    <section>
      <h2 class='title-about'>若手の先生へ</h2>
      <p class='text-about'> 学級経営の中で、授業は最も重要な要素です。「学ぶ」という語の元の意味は、「まねぶ」だったと言われます。「真似をする」も重要な学習です。先輩方の板書記録を参考に一日一日の授業を作り上げていきましょう。また、自分の板書記録を残していくことで授業力の向上を図ることができるかと思います。完璧でなくても大丈夫です。先輩方もコメントを残してくれるかもしれません！KOKUBANKは若手の先生を応援しています。
      </p>
    </section>
  </div>
</div>
<div class='target tyuken'>
  <div class='target-text tyu-t'>
    <section>
      <h2 class='title-about'>中堅の先生へ</h2>
      <p class='text-about'>各主任など校務分掌が大変かと思います。しかし、学校行事、学級経営というものが、ある程度できるようになってきたら、教科についても深い実践ができるようになりたいものです。本サービスを活用して、積極的に自分の実践をアウトプットしていきましょう。専門の教科を決めて、特化した投稿をしてみるのははいかがでしょうか。初心を思い出しながら、今後の自分を俯瞰し、なりたい自分に向けて日々成長していきましょう！
      </p>
    </section>
  </div>
  <div class='target-img tyu-i'>
    <%= image_tag 'tyuuken.png'%>
  </div>
</div>
<div class='target'>
  <div class='target-img'>
    <%= image_tag 'beteran.png'%>
  </div>
  <div class='target-text'>
    <section>
      <h2 class='title-about'>ベテランの先生へ</h2>
      <p class='text-about'>他の先生のフォローやスキルアップまでできてこそ、「ベテラン」かと思います。実践を投稿するのはもちろん、若手・中堅の先生の実践にコメントを残しアドバイスいただければと思います。また、若手や中堅の先生から学ぶことも多くあるかと思います。ベテランこそ自分の経験や長所を生かすためにも、よりよい授業をしたいという向上心をもって新しいスタイルにチャレンジをするのもいいのかもしれません。
      </p>
    </section>
  </div>  
</div>


