<div class='main-visual'>
  <div class='main-visual-head'>
    <p class='main-visual-text'>
      <span>KOKUBANK</span>で磨く
    </p>
    <div>
    板書例の共有に特化した<br>小学校教員専用のSNS
    </div>
  </div>
</div>
<div>