<div class='sub-mainvisual'>
  <h1>新着情報</h1>
</div>

<div class='news-text'>
  <div class='news-title'>
    <h2>新着情報一覧</h2>
  </div>
  <div class='news-box news-list'>
    <ul>
      <li><span>2021.06.23</span>レスポンシブ対応（タブレット・スマホ）</li>
      <li><span>2021.06.20</span>テスト完了</li>
      <li><span>2021.06.15</span>通知機能の実装・通知一覧ページの作成</li>
      <li><span>2021.06.11</span>トップページの実装</li>
      <li><span>2021.06.10</span>コメント機能の同期化</li>
      <li><span>2021.06.09</span>ヘッダーをサイドバーに</li>
      <li><span>2021.06.08</span>カテゴリ検索の実装</li>
    </ul>
  </div>

</div>