<div class='sub-mainvisual'>
  <h1>通知一覧</h1>
</div>
<div class='notification__wrapper'>
  <%= link_to destroy_all_notifications_path, method: :delete,class:'delete_all' do %>
      <i class="fas fa-trash fa-lg" style="color: #2f5d62;"></i>
      <h4 style="color: black;">全削除</h4>
  <% end %>
      <hr>
  <% if @notifications.exists? %>
      <div class="users-index">
          <%= render @notifications %>
      </div>
  <% else %>
      <p>通知はありません</p>
  <% end %>
</div>