<%= search_form_for @p, url: posts_search_path do |f| %>
  <div class="search-wrapper">
    <div class="search-content">
        <%= f.search_field :class_name_cont, placeholder: 'キーワードで探す',class:'search-field' %>
    </div>
    <div class="search-content">
      <%= button_tag type: 'submit',class:"search-btn" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %>