<div class='sub-mainvisual'>
  <h1>新規投稿一覧</h1>
</div>
<div class='main-contents'>
  <div class='main'>
    <%# 投稿一覧 %>
    <div class="post-contents">
      <ul class='post-lists'>
        <% @posts.each do |post| %>
          <%= render 'post' ,post: post %>
        <% end %>
      </ul>
    </div>
    <%# 投稿一覧 %>
    <%= paginate @posts %>
  </div>
</div>
  
