<div class='sub-mainvisual'>
  <h1>キーワードで探す</h1>
</div>
<div class="container">
  <!--<div class='serch-sort'>
    <%=render 'sort'%>
  </div> -->
  <h1>キーワード検索一覧</h1>
  <div class="main-contents">
    <div class='main'>
      <% if @results.length !=0 %>
        <div class="post-contents">
          <ul class='post-lists'>
            <% @search_posts.each do |search_post| %>
              <%= render 'post' ,post: search_post %>
            <% end %>
          </ul>
        </div>
      <% else %>
        <h5 class="alert">該当する投稿はありません！</h5>
      <% end %>
    </div>
  </div>
</div>
