/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 全体指定*/
 * {
   box-sizing: border-box;
   text-decoration: none;
 }

 h1,h2,h3,h4,h5,h6{
   line-height: 2;
 }

 h1{
   font-size: 2em;
 }

 h2{
   font-size: 1.2em;
   text-align: center;
 }

/* ヘッダー */
header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#FFF;
  border-bottom:1px solid gainsboro ;
}

.app-info{
  text-decoration: none;
}
.lists-right{
  display: flex;
}
.login{
  padding-right: 20px;
}

/* フッター */
footer{
  height: 100px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: center;
  bottom: 0;
}

/* メイン(index)*/
.main{
  height: 100vh - 80px - 100px;
}
.main-message{
  text-align: center;
}

/* 投稿一覧*/
.post-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.post-contents>.title{
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
}

.post-contents>.subtitle{
  font-size: 3vh;
  margin: 1vh 0;
  text-transform: none;
  color:red;
  font-weight: bold;
}

.post-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-lists>.list{
  width: 60vh;
  padding: 1vw;
  background-color: #FFF;
}

.post-img{
  width: 50vh;
  height: 20vh;
}

.post-info{
  width: 50vh;
}

.post-name{
  font-size: 2.5vh;
  text-align: center;
  text-decoration: none;
}


/* 新規登録ページ */
.registration-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap{
  width: 50%;
  padding-bottom: 70px;
  background-color: whitesmoke;
}

.form-header{
  width: 100%;
  height: 120px;
  font-size: 24px;
  padding-top: 20px;
}

.form-group{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.actions{
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
}
.registration-btn{
  margin: 0 auto;
  background-color: royalblue;
  color: #FFF;
  border: 1px solid royalblue;
  font-size: 14px;
  line-height:40px ;
  cursor: pointer;
  width: 100%;
}

/*ログインページ*/
.login-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.login-btn{
  margin: 0 auto;
  background-color: royalblue;
  color: #FFF;
  border: 1px solid royalblue;
  font-size: 14px;
  line-height:40px ;
  cursor: pointer;
  width: 100%;
}

/*新規投稿ページ*/
.new-post-contents{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(237, 235, 235);
}

.new-post-main{
  width: 70vw;
  padding: 10vh 10vw;
  background-color: white;
}
.new-post-title{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(135, 180, 235);
  color: #FFF;

}
.img-upload{
  padding: 2vh 0;
}
.upload-text{
  font-weight: bold;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
}
.click-upload{
  text-align: center;
}
.new-post{
  padding: 2vh 0;
}
.post-form{
  width: 100%;
  padding: 16px 16px 8px;
}
.bold-text{
  font-weight: bold;
  margin-bottom: 10px;
}
.post-text{
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid ;
  font-size: 16px;
}
.big-form{
  height: 250px;
}
.select-box{
  width: 100%;
  height: 25px;
}
.post-btn{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: red;
  border: 1px solid red;
  border-radius: 10px;  
  display: flex;
  justify-content: center;
  height: 40px;
}